.logo{
height: 200px;
padding-left: 10em;
}


.son{

align-items: flex-end;
}

.tete{
  display: flex;
      align-items: center;
      justify-content: space-around;
}

.grandpersonnage{

  padding-left: 30em;
}

.grandpersonnages{
padding-left: 19em;

}

.personnagesgrand3{
  padding-left: 17em;
}
.personnagespetit3{
padding-left: 20em;

}


.personnages{
  padding-left: 26em;
}

.texte1{

  padding-left: 28em;
padding-top: 2em;
padding-bottom: 1em;
}

.texte{

  padding-left: 24em;
padding-top: 2em;
padding-bottom: 1em;
}

#conteneur{

  position: relative;
}

.pont{
margin-left: none;


}

.video{
padding-left: 7em;

}

.victoire{
  padding: 115px 26%;
  height: 25%;
  width: 25%;

}

.textedefaite{
font-family: chewy; cursive;
font-size: 10em;
padding-left: 20px;
color: red;
}

.rejouez{
  padding: 70px 30%;
  height: 25%;
  width: 25%;

}

.gaming{
padding: 150px 30%;
height: 25%;
width: 25%;
}

.conteneur2 {
height: 764px;
width: 100%;
background-image: url('../images/jeu/image-victoire.png');
background-position: 50% 50%;
}

.conteneur {
height: 764px;
width: 100%;
background-image: url('../images/jeu/accueil2.png');
background-position: 50% 50%;
}

.history {
  margin-left: 9em;
margin-top: 2em;
}

.fiches {
margin-left: 7em;

}

.intro{

  padding-left: 45em;
}

header{
  background-color: white;
  flex-direction: row;

}

body {

  background:	white;

}

ul {
  list-style-type: none;
}
